.comiclistitem {
  position: relative;
}
.comiclistitem__thumbnail {
  object-fit: cover;
  width: 100%;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}
.comiclistitem__title {
  position: absolute;
  top: 0;
  color: white;
  font-size: 30px;
  padding: 5%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
